# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/test_api
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=123456

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET_KEY=6af834a092761d5d394cf5a1feac20b4e025ce29b09fe355a3b40971b0860095

# Server Configuration
SERVER_PORT=8080

# Spring Profile
SPRING_PROFILES_ACTIVE=dev
